body{
    font-family: 'Open Sans', sans-serif;
}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }

.navbar a{
 font-family: 'Open Sans', sans-serif;
        font-size:1.1em;
    font-weight: 700;
}
.card_head{
    background-color: #00bc8c;
    color: #303030;
    font-size:1.2em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;

}

.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}

@media(min-width:992px) {
.leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
#wrapper{padding: 90px 15px 15px 15px; }
.navbar-nav.side-nav.open {left:0;}
.navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}

.card-title {
    font-weight: 200;
}

.navbar-nav .nav-link; {
    color: #375a7f;
}
#editor {
    position: relative;
    width: 100%;
    height: 320px;
}

#icons{
	visibility: false;
}