

<head>
   <title> Grind - Index </title>
    <script> require("./assets/js/rpc.js")</script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
   <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/darkly/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="stylesheet" href="./assets/css/screen.css">
</head>
<body>
   <section id="navbar">
      <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" href="index.html">Gr!ND</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Grind </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Uni </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Nightlive </a></li>
            </ul>
            <ul class="navbar-nav right">
                 <li><a class="nav-link" href="stats.html"><i class="fas fa-chart-bar"></i> &nbsp Stats </a></li>
                 <li><a class="nav-link" href="raw.html"><i class="fas fa-database"></i> &nbsp Raw </a></li>
                 <li><a class="nav-link" href="settings.html"><i class="fas fa-cog"> </i> &nbsp Settings </a></li>
            </ul>
         </div>
      </nav>
   </section>
   <!-- big status icons -->
   <div class="container-fluid">
   <div class="row">
      <div class="col">
             <div class="card">
                 <div class="card-header card_head">
                 projects
                 </div>
                 <div class="card-body">

                      <canvas width="50%" height="50%" id="time" ></canvas>
                 </div>
             </div>
      </div>
  <div class="col">
               <div class="card">
                   <div class="card-header card_head">
                apps
                 </div>
                 <div class="card-body">
                       <canvas  width="50%" height="50%"  id="apps" ></canvas>
                 </div>
             </div>
  </div>
       <div class="col">
             <div class="card">
                  <div class="card-header card_head">
                websites
                 </div>
                 <div class="card-body">


                      <canvas  width="50%" height="50%"  id="websites" ></canvas>
                 </div>
             </div>
       </div>

      </div>

          <!-- INSTANCE DETAILS -->
   <section id="instance">
      <div class="row">
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col"> Time  </th>
                           <th scope="col"> Application </th>
                           <th scope="col"> URL /Document </th>
                        </tr>
                     </thead>
                  </table>
               </div>
               <div class="card-header">
                  <!-- Example split danger button -->
                  <div class="btn-group">
                     <button type="button" class="btn btn-dark"> 1h </i> </button>
                     <button type="button" class="btn btn-success"> 6h </i> </button>
                     <button type="button" class="btn btn-dark"> 12h </i> </button>
                     <button type="button" class="btn btn-dark"> day </i> </button>
                     <button type="button" class="btn btn-dark"> week </i> </button>
                     <button type="button" class="btn btn-dark"> month </i> </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <script>
      new Chart(document.getElementById("time"), {
        type: 'doughnut',
        data: {
            labels: ["nightlive", "grind", "uni", "others", ],
            datasets: [{
              label: "Time Distribution",
                borderWidth: 2,
                borderColor: "#303030",
              backgroundColor: ["#007053","#008966","#00a379","#00bc8c"],
              data: [6668,5267,1740,2890]
            }]
        },
        options: {
             plugins:{
                 labels: [{
                    render: 'percentage',
                    position: 'border',
                    bold:true,
                    arc:true,
                     fontSize: 16,
                     fontFamily: 'Open Sans',
                     fontWeight: 300,
                    fontColor:  "#303030"
                },{
                    render: 'label',
                             fontFamily: 'Open Sans',
                    fontSize: 20,
                    position: 'outside',
                    outsidePadding: 20,
                     arc:true,

                    fontColor:  ["#007053","#008966","#00a379","#00bc8c"],
                }]
             },
              tooltip:{
                  enabled: false,
              },
              legend: {
                display: false,
              },
            title: {
                display: false,
                text: 'Time Distribution'
            }
      }
      });

        new Chart(document.getElementById("apps"), {
        type: 'doughnut',
        data: {
            labels: ["Sketch", "PyCharm", "Google Chrome", "iTerm" ],
            datasets: [{
              label: "App Distribution",
                  borderWidth: 1,
                borderColor: "#303030",
              backgroundColor: ["#007053","#008966","#00a379","#00bc8c"],
              data: [40,34,80,12]
            }]
        },
          options: {
             plugins:{
                 labels: [{
                    render: 'percentage',
                    position: 'default',
                     fontSize: 16,
                     arc: true,
                     fontFamily: 'Open Sans',
                     fontWeight: 700,
                    fontColor:  "#303030"
                },{
                    render: 'label', fontFamily: 'Open Sans',
                    fontSize: 20,
                    position: 'outside',
                    outsidePadding: 8,
                    arc: true,

                    fontColor:  ["#007053","#008966","#00a379","#00bc8c","#00d69f"],
                }]
             },
              tooltip:{
                  enabled: false,
              },
              legend: {
                display: false,
              },
        title: {
            display: false,
            text: 'Application Distribution'
        }
      }
      });

          new Chart(document.getElementById("websites"), {
        type: 'doughnut',
        data: {
            labels: ["gitlab", "trello", "stackoverflow", "telegram", ],
            datasets: [{
              label: "Time Distribution",
                borderWidth: 2,
                borderColor: "#303030",
             backgroundColor:  ["#007053","#008966","#00a379","#00bc8c"],
              data: [6668,5267,1740,2890]
            }]
        },
        options: {
             plugins:{
                 labels: [{
                    render: 'percentage',
                    position: 'border',
                    bold:true,
                    arc:true,
                     fontSize: 16,
                     fontFamily: 'Open Sans',
                     fontWeight: 300,
                    fontColor:  "#303030"
                },{
                    render: 'label',
                             fontFamily: 'Open Sans',
                    fontSize: 20,
                    position: 'outside',
                    outsidePadding: 20,
                     arc:true,

                      fontColor:  ["#007053","#008966","#00a379","#00bc8c"],
                }]
             },
              tooltip:{
                  enabled: false,
              },
              legend: {
                display: false,
              },
            title: {
                display: false,
                text: 'Time Distribution'
            }
      }
      });
   </script>
</body>

