<head>
   <title> Grind - Project - {}</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
   <script type="text/javascript" src="assets/js/rpc.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
   <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/darkly/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="stylesheet" href="./assets/css/screen.css">
</head>
<body>
   <section id="navbar">
      <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" href="index.html">Gr!ND</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Grind </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Uni </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Nightlive </a></li>
            </ul>
            <ul class="navbar-nav right">
                 <li><a class="nav-link" href="stats.html"><i class="fas fa-chart-bar"></i> &nbsp Stats </a></li>
                 <li><a class="nav-link" href="raw.html"><i class="fas fa-database"></i> &nbsp Raw </a></li>
                 <li><a class="nav-link" href="settings.html"><i class="fas fa-cog"> </i> &nbsp Settings </a></li>
            </ul>
         </div>
      </nav>
   </section>
</body>
</html>