<head>
   <title> Grind - Raw Data </title>
    <script> require("./assets/js/rpc.js")</script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://netdna.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
   <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/darkly/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="stylesheet" href="./assets/css/screen.css">
</head>
<body>
   <section id="navbar">
      <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" href="index.html">Gr!ND</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Grind </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Uni </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Nightlive </a></li>
            </ul>
            <ul class="navbar-nav right">
                 <li><a class="nav-link" href="stats.html"><i class="fas fa-chart-bar"></i> &nbsp Stats </a></li>
                 <li class="active"><a class="nav-link " href="raw.html"><i class="fas fa-database"></i> &nbsp Raw </a></li>
                 <li><a class="nav-link" href="settings.html"><i class="fas fa-cog"> </i> &nbsp Settings </a></li>
            </ul>
         </div>
      </nav>
   </section>


<section id="entries">
        <div id="row">
            <div class="col">
            <div class="card">
                    <div class="card-header card_head">
                <i class="fas fa-database"></i></i> &nbsp Activity
                 </div>
               <div class="card-body">
                    <table id="inserthere" class="table">
                         <thead>
                            <tr>
                               <th scope="col"> Datetime  </th>
                               <th scope="col"> App </th>
                               <th scope="col"> Title </th>
                                <th scope="col"> URL</th>
                            </tr>
                         </thead>
                        <tbody>

                        </tbody>
                     </table>

</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    const zerorpc = require("zerorpc")
let client = new zerorpc.Client()
client.connect('tcp://127.0.0.1:4242')


client.invoke("get_activity", (error, res) => {
  if(error) {
    console.error(error)
  } else {
      var res_json = JSON.parse(res);
      console.log(res_json)

      for(var _element in res_json) {
          console.log(res_json[_element])
          $('#inserthere > tbody:last-child').append(
              '<tr><td>'+ res_json[_element]['at'] + '</td>' +
              '<td>'+ res_json[_element]['app'] + '</td>' +
              '<td>'+ res_json[_element]['document'] + '</td>' +
              '<td>'+ res_json[_element]['url'] + '</td></tr>')
      }
  }
})
</script>

</html>