<head>
   <title> Grind - Settings  </title>

   <script src="assets/vendor/bootstrap.min.js"></script>

   <link href="assets/vendor/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   <link rel="stylesheet" href="./assets/css/screen.css">
</head>
<body>
   <section id="navbar">
      <nav class="navbar navbar-expand-lg ">
         <a class="navbar-brand" href="index.html">Gr!ND</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Grind </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Uni </a></li>
                <li><a class="nav-link" href="project.html"><i class="fas fa-folder"></i> &nbsp Nightlive </a></li>
            </ul>
            <ul class="navbar-nav right">
                 <li><a class="nav-link" href="stats.html"><i class="fas fa-chart-bar"></i> &nbsp Stats </a></li>
                 <li><a class="nav-link" href="raw.html"><i class="fas fa-database"></i> &nbsp Raw </a></li>
                 <li><a class="nav-link" href="settings.html"><i class="fas fa-cog"> </i> &nbsp Settings </a></li>
            </ul>
         </div>
      </nav>
   </section>
   <!-- big status icons -->

   <section id="general">
        <div id="row">
            <div class="col">
                <div class="card">
                       <div class="card-header card_head">
                           <i class="fas fa-cog"></i> &nbsp General Settings
                       </div>
                   <div class="card-body">

                       <h6 class="card-subtitle mb-2 text-muted"> Filtered Websites</h6>
                   </div>
                </div>
            </div>
        </div>
</section>

   <section id="url_filter">
        <div id="row">
            <div class="col">
                <div class="card">
                       <div class="card-header card_head">
                           <i class="fas fa-link"></i> &nbsp Websites
                       </div>
                   <div class="card-body">

                       <h6 class="card-subtitle mb-2 text-muted"> Filtered Websites</h6>
                   </div>
                    <div class="card-footer">
                         <div class="row">
                               <div class="col-xs-2">
                            <input class="form-control" id="ex1" type="text" placeholder="google.com">

                          </div>

                            <div class="col-xs-2">
                            <button type="button" class="btn btn-success"> <i class="fas fa-plus"></i> &nbsp; Add </button>
                            </div>
                         </div>


               </div>
                </div>
            </div>
        </div>
</section>

<section id="application_filter">
        <div id="row">
            <div class="col">
            <div class="card">
                    <div class="card-header card_head">
                <i class="fas fa-bars"></i></i> &nbsp Apps
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add </button>
                 </div>
               <div class="card-body">

                   </br>


                       <div class="row">
                           <div class="col">

                                <h6 class="card-subtitle mb-2 text-muted"> Installed </h6>
                                      <table class="table" id="install_here">
                         <thead>
                            <tr>
                               <th scope="col"> Name </th>
                               <th scope="col"> Runnable </th>
                               <th scope="col"> App </th>
                                <th scope="col"> <i class="fas fa-plus"></i> </th>
                            </tr>

                         </thead>
                                          <tbody></tbody>
                     </table>
                           </div>
                            <div class="col">
                                 <h6 class="card-subtitle mb-2 text-muted"> Filtered </h6>
                                       <table class="table" id="filtered_here">
                         <thead>
                            <tr>
                                <th scope="col"> Path </th>
                               <th scope="col"> Application </th>
                               <th scope="col"> Runnable </th>
                            </tr>
                         </thead>
                                             <tbody id="removable" ></tbody>
                     </table>
                           </div>
                       </div>




               </div>
            </div>
         </div>
        </div>
</section>

<section id ="modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
    </div>
</div>

</section>
    <script src="assets/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/vendor/chart.bundle.min.js"></script>
    <script src="assets/vendor/chartjs-plugin-labels.js"></script>

   <script>

        function get_filtered(){
             client.invoke("get_filtered", (error, res) => {
                console.log("getting filtered apps")
                if (error) {
                    console.error(error)
                } else {
                    let res_json = JSON.parse(res);
                    for(let _element in res_json) {

                        let _name = res_json[_element]['name']
                        let _runnable = res_json[_element]['runnable']
                        let _path = res_json[_element]['path']

                         $('#filtered_here > tbody:last-child').append(
                      '<tr><td>'+ res_json[_element]['name'] + '</td>' +
                      '<td>'+ res_json[_element]['runnable'] + '</td>' +
                      '<td>'+ res_json[_element]['path'] + '</td></tr>')
                    }


                }
            });
        }

        const zerorpc = require("zerorpc")
        let client = new zerorpc.Client()
        client.connect('tcp://127.0.0.1:4242')

        $('#exampleModal').on('show.bs.modal', function (event) {
            console.log('we should see smth')
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
        })


        $(document).on('click', '.btn_add',function()
        {
            var id = $(this).attr("id");
            console.log(id);

            client.invoke("save_app", id, (error, res) => {
                  console.log("saving app")
                  if(error) {
                    console.error(error)
                  }else{
                      document.getElementById("removable").innerHTML = "";
                      get_filtered();
                  }
            });
        });

        get_filtered()

        client.invoke("list_apps", (error, res) => {
          if(error) {
            console.error(error)
          } else {
              var res_json = JSON.parse(res);
              console.log(res_json)


              for(var _element in res_json) {

                  var _name = res_json[_element]['name']
                  var _runnable = res_json[_element]['runnable']
                  var _path = res_json[_element]['path']

                  console.log(res_json[_element])
                  $('#install_here> tbody:last-child').append(
                      '<tr id=\\\'\'+ _name  +\'\\\'><td id=\''+ _name  +'\'>' + _name + '</td>' +
                      '<td id=\''+ _runnable + '\'>' + _runnable + '</td>' +
                      '<td id=\''+ _path  + '\'>' + _path + '</td>' +
                      '<td >' + '<a href="#" id=\'' +  JSON.stringify(res_json[_element])  + '\'' +
                      'class="btn_add"><i class="fas fa-plus"></i></a></td></tr>')
              }
          }
        })
    </script>
</body>

